In [397]:
import pandas as pd
import numpy as np
import nltk 
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk import word_tokenize
import string
from nltk.tokenize import RegexpTokenizer
#download the stop words
nltk.download("stopwords")
import unicodedata
import warnings

[nltk_data] Downloading package stopwords to /home/atefe/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [405]:
df1=pd.read_csv("/home/atefe/ADM_HW4_Group8/first-Scraping.csv")
df2=pd.read_csv("/home/atefe/ADM_HW4_Group8/2rd_scaping_1.csv")
df3=pd.read_csv("/home/atefe/ADM_HW4_Group8/3rd_scaping_1.csv")

In [406]:
finaldf = pd.concat([df1,df2,df3])
finaldf=finaldf.reset_index(drop=True)
finaldf.drop(['Unnamed: 0'], axis=1)

,bagni,description,locali,piano,prezzo(€),superficie
0,NaN,Vendesi Appartamenti - Talenti Rione Rinascime...,1 - 5,NaN,€ 192.000 - € 705.000,46.0
1,1,papillo eur PAPILLO EUR in elegante complesso ...,2,1,€ 225.000,50.0
2,1,VENDITA BILOCALE TORREVECCHIA Rif: 18083 - TOR...,2,R,€ 159.000,65.0
3,1,"San Giovanni San Giovanni, Attico in Vendita, ...",2,A,€ 459.000,85.0
4,2,ATTICO CON TERRAZZO VILLA PAMPHILI Nel quartie...,5,A,€ 850.000,175.0
5,3+,Gregorio Settimo - San Damaso Gregorio Settimo...,5+,3,€ 1.100.000,225.0
6,1,VENDITA TRILOCALE RISTRUTTURATO CASILINA Rif: ...,3,2,€ 119.000,85.0
7,1,VENDITA TRILOCALE CENTOCELLE Rif: 18067 - CENT...,3,1,€ 149.000,75.0
8,3+,Elegante villa stile Liberty a San Giovanni A ...,5+,NaN,€ 2.500.000,625.0
9,2,PRATI- DELLE VITTORIE PIAZZALE CLODIO Siamo a ...,4,9,€ 1.300.000,115.0
10,1,VENDITA BILOCALE TORRE MAURA Rif: 18028 - TORR...,2,3,€ 115.000,58.0
11,3,Elegante appartamento zona Monteverde Nel quar...,5+,3,€ 695.000,250.0
12,2,PRESTIGIOSO UFFICIO PIAZZALE DELLE MUSE Nell’e...,5+,T,€ 1.220.000,245.0
13,2,Porzione di villino stile Liberty adiacente il...,5+,2,€ 1.380.000,140.0
14,2,Ampio appartamento in via Bruno Pelizzi In zon...,4,5,€ 370.000,139.0
15,3,VENDITA QUADRILOCALE RISTRUTTURATO PISANA Rif:...,4,3,€ 359.000,130.0
16,3,COMPLESSO RESIDENZIALE LEONARDO DA VINCI a sol...,4,NaN,€ 219.000,160.0
17,3,PRESTIGIOSO APPARTAMENTO VIA COURMAYEUR Via Co...,5+,1,€ 650.000,170.0
18,3,"CAMILLUCCIA, PANORAMICO QUARTO PIANO In strada...",5+,4,€ 800.000,220.0
19,3,Appartamento ristrutturato in via del Calice I...,5+,4,€ 650.000,193.0
20,1,Elegante bilocale nel cuore di San Giovanni In...,2,3,€ 339.000,70.0
21,3+,Moderno Appartamento con Terrazzo in Viale del...,5+,1,€ 1.100.000,250.0
22,1,"Prati Prati, appartamento in vendita adiacente...",5,3,€ 950.000,170.0
23,3,Rifinito attico e superattico in Via Pound Nel...,5+,A,€ 940.000,200.0
24,1,"Montagnola Montagnola, Appartamento in Vendita...",2,A,€ 259.000,55.0
25,2,Roma case in vendita Appio Claudio quadrilocal...,4,1,€ 460.000,110.0
26,1,VENDITA ULTIMO PIANO RISTRUTTURATO CASILINA Ri...,3,A,€ 165.000,60.0
27,2,"Collatina Collatina, Attico in Vendita, tranqu...",4,A,€ 189.000,110.0
28,3+,Elegante appartamento panoramico in zona Baldu...,5+,3,€ 1.080.000,250.0
29,2,"Nomentana Nomentana – in via di Pietralata, a ...",5+,1,€ 395.000,130.0
...,...,...,...,...,...,...
14970,1,Trionfale Rif: gruppoimmobiliare - Via Cortina...,4,2,€ 650.000,165.0
14971,2,"APPARTAMENTO IN VENDITA DI 158 MQ, ZONA TALENT...",5,T,€ 520.000,158.0
14972,NaN,there was a problem in this link,NaN,NaN,NaN,NaN
14973,1,"Roma, Settebagni, precisamente in via Sant'Ant...",3,R,€ 200.000,80.0
14974,2,EUR CECCHIGNOLA APPARTAMENTO A SCHIERA CON GIA...,4,R,da € 220.534,150.0
14975,1,PRATI/DELLE VITTORIE-QUADRILOCALE TERMOAUTONOM...,5+,2,€ 689.000,148.0
14976,1,Monteverde-Colli Portuensi ampio trilocale con...,3,T,€ 355.000,104.0
14977,2,TORRE SPACCATA Via Rugantino vendita appartame...,3,1,€ 265.000,90.0
14978,2,San Giovanni Rif: gruppo immobiliare - adiac. ...,5+,6,€ 860.000,200.0
14979,2,"Piena proprietà di appartamento, via Dei Gelsi...",4,3,da € 98.250,136.0
14980,2,Parchi della colombo Rif: gruppo immobiliare -...,3,NaN,€ 359.000,90.0
14981,1,Cinecittà Rif: GRUPPO IMMOBILIARE - via Chiove...,3,7,€ 270.000,90.0
14982,1,Bilocale 60 mq con balconi APM IMMOBILIARE TEL...,2,1,€ 139.000,60.0
14983,2,NUDA PROPRIETA' In una delle strade più piacev...,5+,5,€ 1.200.000,200.0
14984,1,Centro Storico - Palazzo Umbertino Centro Stor...,3,2,€ 329.000,90.0
14985,2,ROMA - TUSCOLANO - Cinecittà Abbiamo il piacer...,5+,2,€ 560.000,200.0
14986,2,PONTE MILVIO TRILOCALE RIFINITURE LUSSO € 390....,3,1,€ 390.000,75.0
14987,2,Quadrilocale di 140 mq. Ostia Centro APPARTAME...,3,2,€ 329.000,143.0
14988,3,Rif: Patrasso - DRAGONCELLO Via Leonardo Patra...,5,NaN,€ 340.000,168.0
14989,2,DUE LEONI In delizioso complesso residenziale ...,3,1,€ 165.000,86.0
14990,2,bravetta In una delle strade più ambite della ...,3,3,€ 370.000,103.0
14991,2,PARIOLI - TRILOCALE RISTRUTTURATO GIARDINO E C...,3,1,€ 670.000,116.0
14992,2,Nuova costruzione Vicolo del Conte - Casetta...,3,T,€ 345.000,96.0
14993,3,BOLOGNA - VIALE XXI APRILE - A pochi passi da ...,5+,2,€ 950.000,190.0
14994,2,Appio Latino esclusivo cinque locali LA SCHEMA...,5,3,€ 600.000,162.0
14995,1,CASALOTTI-VIA DORZANO Casalotti-Via Dorzano Ne...,3,3,€ 179.000,65.0
14996,1,CIPRO - BILOCALE ULTIMO PIANO RISTRUTTURATO CO...,2,7,€ 339.000,60.0
14997,1,San Paolo Rif: gruppo immobiliare - Viale Leon...,3,1,€ 470.000,100.0
14998,1,Gruppo Immobiliare 2000 propone in vendita in ...,2,1,€ 129.000,45.0
14999,3+,PIGNETO villini Via Cristoforo Buondelmonti Ri...,5+,NaN,€ 1.400.000,283.0

In [407]:
finaldf=finaldf.dropna()

In [408]:
finaldf = finaldf.replace({r'\s+€':'', r'^\s+':''}, regex=True).replace(r'\€','', regex=True).replace(r'da','', regex=True)

In [409]:
finaldf['prezzo(€)']=finaldf['prezzo(€)'].replace(r'\.',  '', regex=True)

In [410]:
finaldf['bagni']=finaldf['bagni'].replace(r'3\+',  '3.5', regex=True).replace(r'\+', '', regex=True)
finaldf['piano'] = finaldf['piano'].replace(r'A',  '11.5', regex=True).replace(r'11\+',  '11', regex=True).replace(r'R',  '0.3', regex=True).replace(r'T',  '0.5', regex=True).replace(r'S',  '0', regex=True)

In [411]:
finaldf['piano'] = finaldf['piano'].replace(r'A',  '11.5', regex=True).replace(r'11\+',  '11', regex=True).replace(r'R',  '0.3', regex=True).replace(r'T',  '0.5', regex=True).replace(r'S',  '0', regex=True)

In [412]:
finaldf['locali'] = finaldf['locali'].replace(r'5\+',  '5.5', regex=True)

In [413]:
finaldf[['bagni','locali','piano','prezzo(€)','superficie']] = finaldf[['bagni','locali','piano','prezzo(€)','superficie']].apply(pd.to_numeric)

In [417]:
finaldf[finaldf['prezzo(€)']>10000]

,Unnamed: 0,bagni,description,locali,piano,prezzo(€),superficie
1,1,1.0,papillo eur PAPILLO EUR in elegante complesso ...,2.0,1.0,225000,50.0
2,2,1.0,VENDITA BILOCALE TORREVECCHIA Rif: 18083 - TOR...,2.0,0.3,159000,65.0
3,3,1.0,"San Giovanni San Giovanni, Attico in Vendita, ...",2.0,11.5,459000,85.0
4,4,2.0,ATTICO CON TERRAZZO VILLA PAMPHILI Nel quartie...,5.0,11.5,850000,175.0
5,5,3.5,Gregorio Settimo - San Damaso Gregorio Settimo...,5.5,3.0,1100000,225.0
6,6,1.0,VENDITA TRILOCALE RISTRUTTURATO CASILINA Rif: ...,3.0,2.0,119000,85.0
7,7,1.0,VENDITA TRILOCALE CENTOCELLE Rif: 18067 - CENT...,3.0,1.0,149000,75.0
9,9,2.0,PRATI- DELLE VITTORIE PIAZZALE CLODIO Siamo a ...,4.0,9.0,1300000,115.0
10,10,1.0,VENDITA BILOCALE TORRE MAURA Rif: 18028 - TORR...,2.0,3.0,115000,58.0
11,11,3.0,Elegante appartamento zona Monteverde Nel quar...,5.5,3.0,695000,250.0
12,12,2.0,PRESTIGIOSO UFFICIO PIAZZALE DELLE MUSE Nell’e...,5.5,0.5,1220000,245.0
13,13,2.0,Porzione di villino stile Liberty adiacente il...,5.5,2.0,1380000,140.0
14,14,2.0,Ampio appartamento in via Bruno Pelizzi In zon...,4.0,5.0,370000,139.0
15,15,3.0,VENDITA QUADRILOCALE RISTRUTTURATO PISANA Rif:...,4.0,3.0,359000,130.0
17,17,3.0,PRESTIGIOSO APPARTAMENTO VIA COURMAYEUR Via Co...,5.5,1.0,650000,170.0
18,18,3.0,"CAMILLUCCIA, PANORAMICO QUARTO PIANO In stra p...",5.5,4.0,800000,220.0
19,19,3.0,Appartamento ristrutturato in via del Calice I...,5.5,4.0,650000,193.0
20,20,1.0,Elegante bilocale nel cuore di San Giovanni In...,2.0,3.0,339000,70.0
21,21,3.5,Moderno Appartamento con Terrazzo in Viale del...,5.5,1.0,1100000,250.0
22,22,1.0,"Prati Prati, appartamento in vendita adiacente...",5.0,3.0,950000,170.0
23,23,3.0,Rifinito attico e superattico in Via Pound Nel...,5.5,11.5,940000,200.0
24,24,1.0,"Montagnola Montagnola, Appartamento in Vendita...",2.0,11.5,259000,55.0
25,25,2.0,Roma case in vendita Appio Claudio quadrilocal...,4.0,1.0,460000,110.0
26,26,1.0,VENDITA ULTIMO PIANO RISTRUTTURATO CASILINA Ri...,3.0,11.5,165000,60.0
27,27,2.0,"Collatina Collatina, Attico in Vendita, tranqu...",4.0,11.5,189000,110.0
28,28,3.5,Elegante appartamento panoramico in zona Baldu...,5.5,3.0,1080000,250.0
29,29,2.0,"Nomentana Nomentana – in via di Pietralata, a ...",5.5,1.0,395000,130.0
31,31,1.0,Case in vendita Roma Quadraro piccolo trilocal...,3.0,0.5,125000,50.0
32,32,2.0,Appartamento in Via della Camilluccia A pochi ...,3.0,0.5,440000,130.0
33,33,1.0,"Villa Bonelli Villa Bonelli, Appartamento in v...",2.0,0.5,139000,60.0
...,...,...,...,...,...,...,...
14966,2966,1.0,Bravetta Rif: gruppo immobiliare - adiac. Via ...,2.0,3.0,164000,63.0
14967,2967,2.0,Labaro Colli d'Oro in comprensorio signorile c...,4.0,11.5,340000,120.0
14968,2968,1.0,Via Platina Rif: 64/18 - vendiamo un appartame...,3.0,0.5,349000,80.0
14969,2969,2.0,Boccea Rif: gruppo immobiliare - Via vittorio ...,4.0,1.0,620000,113.0
14970,2970,1.0,Trionfale Rif: gruppoimmobiliare - Via Cortina...,4.0,2.0,650000,165.0
14971,2971,2.0,"APPARTAMENTO IN VENDITA DI 158 MQ, ZONA TALENT...",5.0,0.5,520000,158.0
14973,2973,1.0,"Roma, Settebagni, precisamente in via Sant'Ant...",3.0,0.3,200000,80.0
14974,2974,2.0,EUR CECCHIGNOLA APPARTAMENTO A SCHIERA CON GIA...,4.0,0.3,220534,150.0
14975,2975,1.0,PRATI/DELLE VITTORIE-QUADRILOCALE TERMOAUTONOM...,5.5,2.0,689000,148.0
14976,2976,1.0,Monteverde-Colli Portuensi ampio trilocale con...,3.0,0.5,355000,104.0
14977,2977,2.0,TORRE SPACCATA Via Rugantino vendita appartame...,3.0,1.0,265000,90.0
14978,2978,2.0,San Giovanni Rif: gruppo immobiliare - adiac. ...,5.5,6.0,860000,200.0
14979,2979,2.0,"Piena proprietà di appartamento, via Dei Gelsi...",4.0,3.0,98250,136.0
14981,2981,1.0,Cinecittà Rif: GRUPPO IMMOBILIARE - via Chiove...,3.0,7.0,270000,90.0
14982,2982,1.0,Bilocale 60 mq con balconi APM IMMOBILIARE TEL...,2.0,1.0,139000,60.0
14983,2983,2.0,NUDA PROPRIETA' In una delle strade più piacev...,5.5,5.0,1200000,200.0
14984,2984,1.0,Centro Storico - Palazzo Umbertino Centro Stor...,3.0,2.0,329000,90.0
14985,2985,2.0,ROMA - TUSCOLANO - Cinecittà Abbiamo il piacer...,5.5,2.0,560000,200.0
14986,2986,2.0,PONTE MILVIO TRILOCALE RIFINITURE LUSSO 390.00...,3.0,1.0,390000,75.0
14987,2987,2.0,Quadrilocale di 140 mq. Ostia Centro APPARTAME...,3.0,2.0,329000,143.0
14989,2989,2.0,DUE LEONI In delizioso complesso residenziale ...,3.0,1.0,165000,86.0
14990,2990,2.0,bravetta In una delle strade più ambite della ...,3.0,3.0,370000,103.0
14991,2991,2.0,PARIOLI - TRILOCALE RISTRUTTURATO GIARDINO E C...,3.0,1.0,670000,116.0
14992,2992,2.0,Nuova costruzione Vicolo del Conte - Casetta...,3.0,0.5,345000,96.0
14993,2993,3.0,BOLOGNA - VIALE XXI APRILE - A pochi passi Pi...,5.5,2.0,950000,190.0
14994,2994,2.0,Appio Latino esclusivo cinque locali LA SCHEMA...,5.0,3.0,600000,162.0
14995,2995,1.0,CASALOTTI-VIA DORZANO Casalotti-Via Dorzano Ne...,3.0,3.0,179000,65.0
14996,2996,1.0,CIPRO - BILOCALE ULTIMO PIANO RISTRUTTURATO CO...,2.0,7.0,339000,60.0
14997,2997,1.0,San Paolo Rif: gruppo immobiliare - Viale Leon...,3.0,1.0,470000,100.0
14998,2998,1.0,Gruppo Immobiliare 2000 propone in vendita in ...,2.0,1.0,129000,45.0

In [459]:
informationdf=finaldf[['bagni','locali','piano','prezzo(€)','superficie']]
df=finaldf[['description']]

In [460]:
def remove_accents(input_str):
    nfkd_form = unicodedata.normalize('NFKD', input_str)
    return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

In [461]:
o=string.punctuation+'“–”’'
def remove_punctuations(text):
    for punctuation in o:
        text = text.replace(punctuation, '')
    return text

In [462]:
from textblob import Word
from nltk.stem.snowball import SnowballStemmer
stop = stopwords.words('italian')
stop1 = stopwords.words('english')
stemmer = SnowballStemmer("italian")
#okenizer = RegexpTokenizer(r'\w+')
rem=string.punctuation+'“–”’°‘'
pattern = r"[{}]".format(rem)
df['description']=df['description'].str.replace(pattern,' ')
df['description'] = df['description'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['description'] = df['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['description']=df['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop1))
df['description'] = df['description'].str.replace('\d+','')
#df['description'] = df['description'].str.replace('[^\w\s]','')
df["description"] = df["description"].apply(nltk.word_tokenize)
df['description']=df['description'].apply(lambda x :" ".join(x))
df['description']=df['description'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))
df['description'] = df['description'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df['description'] = df['description'].apply(remove_punctuations)
#df.description = df.description.apply(str).apply(tokenizer.tokenize)
df['description'] = df['description'].apply(remove_accents)
df['description']=df['description'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/atefe/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [244]:

#df.loc[1,'description'].replace(string.punctuation,' ')

In [339]:
freq = pd.Series(' '.join(df['description']).split()).value_counts()[:10]

In [340]:
freq

immobil    24129
appart     18759
via        18239
pian       15183
serviz     12868
vend       12356
legg       12314
mq         11986
ampi       11404
cucin      10731
dtype: int64

In [423]:
df.loc[1,'description']

'papill eur papill eur eleg compless residenzial rifinitissim bilocal compost soggiorn angol cottur stanz lett bagn ampi balcon rifinitur preg pav parquet grees infiss legn vetr camer port noc grat salon riscalment termoautonom cal centralizz ari condizion videocitof port blint serr elettr chiusur centralizz antenn satellit isol term acust pannell solar fotovolt rilev elettron gas tutt cam forn impiant antifurt pres antenn satellit pres telefon orar luned chius marted 10 00 17 00 mercoled 10 00 17 00 gioved 10 00 17 00 venrd 10 00 17 00 sab 10 00 17 00 domen 10 00 13 00 legg'

In [463]:
words=list(df['description'].str.split(' ', expand=True).stack().unique())
tf=pd.DataFrame(words,columns=['words'])

In [281]:
words=" ".join(words)
with open('word.txt','w') as file:
    file.write(words)

In [465]:
for i,word in enumerate(tf['words']):
    tf.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['description'].str.contains(word)])))

In [466]:
tf.sort_values(by=['idf'],ascending=False)

                   words       idf
7589              cecion  9.410666
10160             brulic  9.410666
10157    immobiiarepelus  9.410666
10155             pericl  9.410666
10153      strategically  9.410666
10149              pevex  9.410666
10148              sared  9.410666
10146             perazz  9.410666
10144        sireimmobil  9.410666
10143             lumion  9.410666
10142              nocet  9.410666
10138            turchin  9.410666
10135          plasmabil  9.410666
10134             pupell  9.410666
10123            portanz  9.410666
10122              vapor  9.410666
10121         prefabbric  9.410666
10120        autoaliment  9.410666
10119            callicr  9.410666
10118             luxant  9.410666
10117             ribott  9.410666
10114       corrispodent  9.410666
10113             coleeg  9.410666
10112           appollon  9.410666
10110             paluzz  9.410666
10109              vendg  9.410666
10104             atimet  9.410666
10103  ostiensegarbatell  9.410666
10096         concedibil  9.410666
10095            voucher  9.410666
...                  ...       ...
5371                  tr  0.019588
3772                  re  0.018587
3389                  os  0.015590
178                   en  0.013514
9411                  an  0.012519
3721                  ri  0.008383
1634                  po  0.007641
1975                  ia  0.007476
11203                 er  0.005746
4500                   z  0.005252
2008                   v  0.003526
115                   ca  0.003033
3301                   d  0.002869
5113                  st  0.002705
104                   co  0.002623
372                    b  0.001802
3559                   u  0.000082
856                    m  0.000000
7702                 ...  0.000000
5173                ...a  0.000000
4206                 leg  0.000000
1835                   r  0.000000
986                    n  0.000000
2626                  gg  0.000000
3511                   t  0.000000
784                    g  0.000000
154                    s  0.000000
700                    p  0.000000
8165                  eg  0.000000
67                  legg  0.000000

[15178 rows x 2 columns]

In [467]:
tf=tf.loc[(tf.idf<9) & (tf.idf>0.189)]

In [468]:
tf.sort_values(by=['idf'],ascending=False)

                          words       idf
9408                       usag  8.717518
8756                  sorrentin  8.717518
8653                  spedalier  8.717518
8677            residenzetorlon  8.717518
1543                   telephon  8.717518
8681                   neoclass  8.717518
8685                      rigid  8.717518
8687                    fumaiol  8.717518
1536                   exclusif  8.717518
8701                     sestin  8.717518
1531                        six  8.717518
8728                   apollonj  8.717518
8736                       bobb  8.717518
8752                     espuls  8.717518
8757                 ssorrentin  8.717518
8646                  bilolocal  8.717518
8766                     visagg  8.717518
8768                  ambrosian  8.717518
1516                     cantan  8.717518
8772                     ottime  8.717518
8773                 iperfamily  8.717518
8775                  sabbionet  8.717518
8776   risorseimmobiliariagency  8.717518
8794                praticissim  8.717518
8797                     rivett  8.717518
8803   mediazioneimmobiliarerom  8.717518
8804                  vallesant  8.717518
8805                       pzza  8.717518
1552                 exklusiven  8.717518
1555                     zugang  8.717518
...                         ...       ...
3979                        ven  0.308022
8471                         sp  0.306130
4057                         rm  0.303466
5092                         fi  0.298048
3398                     compos  0.294087
13468                        rv  0.292989
2454                        ser  0.264970
3670                        imm  0.263798
10850                        sc  0.263478
754                          el  0.261775
5050                         gi  0.260606
3334                        end  0.257742
6213                         ac  0.254570
7004                         pe  0.253199
13831                      prop  0.242294
8064                         sa  0.240210
8704                         rn  0.240002
11533                        ll  0.236367
368                         mer  0.236160
758                          do  0.232642
10262                       zio  0.229651
71                          via  0.226053
93                        cucin  0.215033
9049                        cuc  0.214830
8244                         mm  0.211791
14051                        ni  0.211690
248                      appart  0.199526
9660                       appa  0.198227
2105                      appar  0.198227
7321                        ion  0.189484

[10570 rows x 2 columns]